<div class="frame"
    style="height: 25%;line-height: 25px;text-align: center; border: solid; border-color: lightgray;margin-top: 10%;">
    <img src="..." class="card-img-top" alt="..." style="vertical-align: middle;" />
</div>