<div class="frame" id="imageframe"
    style="height: 25%;line-height: 25px;text-align: center; border: solid; border-color: lightgray;margin-top: 10%;">
    <a href="#" id = {{id}}><img src="{{image}}" class="card-img-top" alt="{{item_name}}" style="vertical-align: middle;" /></a>
</div>