{{!-- <div class="frame" id="imageframe2"
    style="height: auto;line-height: 25px;text-align: center; border: solid; border-color: lightgray;margin-top: 10%; margin-bottom: auto;">
    --}}
    <a href="#" id={{id}}><img src="{{image}}" class="card-img-top imageframe2" alt="{{item_name}}"
            style="vertical-align: middle; width: 200px; height: 200px;line-height: 25px;text-align: center;
            border: solid; border-color: lightgray;margin-top:0; margin-bottom: auto;" /></a>
    {{!--
</div> --}}