<h1>Style Me Logo</h1>
<p>Click the button to upload an existing photo or add a new one!</p>

<!-- Cloudinary button for uploading or adding a new photo -->
<button id="upload_widget" class="cloudinary-button">Upload or Add</button>

<h2>Details</h2>
<!-- Image should be displayed in img tag -->
<img id="img" src="" style="width: 200px; height: 200px; border: solid; margin-bottom: 20px" />
<!-- Photo input fields -->
<div class="photo-input-fields">
    <div>
        <label for="item_name">Item Name</label>

        <input id="item_name" type="text" name="item_Name" placeholder="Item name" />
        <br />

        <label for="category">Category Name</label>

        <input id="category_name" type="text" name="category" placeholder="Category Name" />
    </div>

    <!-- Add to collection button -->
    <div>
        <button id="addToCollection_Btn" class="cloudinary-button" type="submit" style="margin-top: 10px">
            Add to Collection
        </button>
    </div>
</div>

<!-- Cloudinary script -->
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<!-- Addnew script -->
<script src="../../public/assets/js/addnew.js" type="text/javascript"></script>