<div class="container">
    <h2>Build Outfit</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr"></span>
            <input type="search" class="form-control ds-input" id="search-input" placeholder="Search Outfits"
                style="position: relative; vertical-align: top" />

            <!--side pictures of building outfits page-->
        {{#if newOutfititems}}
         {{#each newOutfititems }}
            {{> clothesCard}}
         {{/each}}
         {{else}}
            <div> Sorry no outfits items found</div>
        {{/if}}
        </div>

        <!--Drag items-->
        <div class="col-sm-4" style="border: solid; border-color: lightgray">
            <div id="DragImg" style="
              max-width: max-content;
              margin-bottom: 20%;
              margin-top: 20%;
              margin-left: 20%;
            ">
                <span class="algolia-autocomplete"
                    style="position: relative; display: inline-block; direction: ltr"></span>
                <input type="search" class="form-control ds-input" placeholder="Drag Outfits Here"
                    style="position: relative; vertical-align: top" />
            </div>
        </div>
        <div class="col-sm-4">
            <!--search buttons for catalog name and outfits followed by save button-->
            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr"></span>
            <input type="search" class="form-control ds-input" id="search-input" placeholder="Catalog Name"
                style="position: relative; vertical-align: top" />

            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr"></span>
            <input type="search" class="form-control ds-input" id="search-input" placeholder="Outfit Name"
                style="position: relative; vertical-align: top" />

            <button class="btn btn-primary" type="submit" style="margin-top: 20px">
                Save Outfit
            </button>
        </div>
    </div>
</div>