<div class="container">
    <h2>Find Catalogs</h2>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="container">
            <div class="row">
                <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr"></span>
            </div>
            <div class="row">
                <div class="dropdown">
                    <div id = "menu">
                        {{#each categories}}
                            <li><a class="dropdown-item" href="" id={{id}}>{{Catalogs}}</a></li>
                        {{/each}}
                    </div>

                </div>
            </div>
            {{#if catalogID}}
                {{#each catalogID }}
                    {{> clothesCard}}
                {{/each}}
                {{else}}
                    <div> Sorry no catalog found</div>
            {{/if}}
        </div>
    </div>
    <div class="col-sm-2">
        <div class="container">

        </div>
    </div>
</div>
