<div class="container">
<h1 id="logo">Style Me</h1>
</div>

<section class="video-container">
  <video id="video-hero" src="../public/assets/images/Fashion.mov" autoplay loop playsinline muted></video>
</section>
<section id="description">
<div class="container">
<p>Style Me is an application that allows you to upload photos of your clothing 
    from your camera, computer or social media. 
    Organize your clothes into outfits and categorize them by occasion, 
    season, mood or whatever! Create your own personal look book and 
    maximize your closet.</p>
</div>

<div class="landing_btn_container">
    <a href="login" class="btn btn-outline-secondary"  role="button">Login</a>
    <a href="signup" class="btn btn-outline-secondary"  role="button">Sign me up!</a>
</div>
</section>
<div class="container-fluid p-0" id="descriptions">
    <div class="row align-items-center no-gutters" style="background-color: #939597;">
        <div class="col-lg-8 order-lg-1 px-0">
            <video id="captureVideo" src="../public/assets/images/capture.mov" autoplay loop playsinline muted></video>
        </div>
        <div class="col-lg-4 order-lg-2 px-0">
            <p style="text-align: center;">Capture or upload photos of your clothes.</p>
        </div>
    </div>
    <div class="row align-items-center no-gutters" style="background-color: #F5DF4D;">
        <div class="col-lg-8 order-lg-2 px-0">
            <video id="captureVideo" src="../public/assets/images/capture.mov" autoplay loop playsinline muted></video>
        </div>
        <div class="col-lg-4 order-lg-1 px-0">
            <p style="text-align: center;">Put some outfits together.</p>
        </div>
    </div>
    <div class="row align-items-center no-gutters" style="background-color: #939597;">
        <div class="col-lg-8 order-lg-1 px-0">
            <video id="captureVideo" src="../public/assets/images/capture.mov" autoplay loop playsinline muted></video>
        </div>
        <div class="col-lg-4 order-lg-2 px-0">
            <p style="text-align: center;">Organize your outfits into your categories.</p>
        </div>
    </div>
    <div class="row align-items-center no-gutters" style="background-color: #F5DF4D;">
        <div class="col-lg-8 order-lg-2 px-0">
            <video id="captureVideo" src="../public/assets/images/capture.mov" autoplay loop playsinline muted></video>
        </div>
        <div class="col-lg-4 order-lg-1 px-0">
            <p style="text-align: center;">Store your outfits in your own Style Me collection.</p>
        </div>
    </div>
</div>

