<div class="container">
<h1 id="logo">Style Me</h1>
</div>

<section class="video-container">
  <video id="video-hero" src="../public/assets/images/Fashion.mov" autoplay loop playsinline muted></video>
</section>
<section id="description">
<div class="container">
<p>Style Me is an application that allows you to upload photos of your clothing 
    from your camera, computer or social media. 
    Organize your clothes into outfits and categorize them by occasion, 
    season, mood or whatever! Create your own personal look book and 
    maximize your closet.</p>
</div>

<div class="landing_btn_container">
    <a href="login" class="btn btn-outline-secondary"  role="button">Login</a>
    <a href="signup" class="btn btn-outline-secondary"  role="button">Sign me up!</a>
</div>
</section>
<div class="container-fluid p-20" id="descriptions">
    <div class="row align-items-center landingTextRowGray">
        <div class="col-lg-8 order-lg-1 px-0" >
            <img src="../public/assets/images/phone.png" alt="Style Me" class="landingImages"/>
        </div>
        <div class="col-lg-4 order-lg-2 px-0 ">
            <p class="landingText">Capture or upload photos of your clothes.</p>
        </div>
    </div>
    <div class="row align-items-center landingTextRowYellow">
        <div class="col-lg-8 order-lg-2 px-0">
            <img src="../public/assets/images/BuildOutfit.png" alt="Style Me" class="landingImages" />
        </div>
        <div class="col-lg-4 order-lg-1 px-0 landingTextColumnYellow">
            <p class="landingText">Choose from items you've uploaded and categorized. Get creative and put some outfits together!
            <br> Do you have a big occasion coming up? Plan out your outfit in advance.</p>
        </div>
    </div>

    <div class="row align-items-center landingTextRowGray">
        <div class="col-lg-8 order-lg-1 px-0" >
            <img src="../public/assets/images/sampleCatalog.png" alt="Style Me" class="landingImages"/>
        </div>
        <div class="col-lg-4 order-lg-2 px-0 ">
            <p class="landingText">Organize your outfits into your categories. 
                <br> Summer, Fall, Winter, Spring
                <br> You're covered!</p>
        </div>
    </div>
    <div class="row align-items-center landingTextRowYellow">
        <div class="col-lg-8 order-lg-2 px-0">
            <img src="../public/assets/images/Catalogs.png" alt="Style Me" class="landingImages" />
        </div>
        <div class="col-lg-4 order-lg-1 px-0 landingTextColumnYellow">
            <p class="landingText">Store your outfits in your own Style Me collection</p>
        </div>
    </div>


</div>

