<div class="container">
<h1 id="logo">Style Me</h1>
</div>

<section class="video-container">
  <video id="video-hero" src="../public/assets/images/Fashion.mov" autoplay loop playsinline muted></video>
</section>

<div class="container">
<p>Style Me is an application that allows you to upload photos of your clothing 
    from your camera, computer or social media. 
    Organize your clothes into outfits and categorize them by occasion, 
    season, mood or whatever! Create your own personal look book and 
    maximize your closet.</p>
<div class="container">
    
    <div class="d-flex justify-content-center">
      <a href="login" class="btn btn-outline-secondary" role="button">Login</a>
    <a href="signup" class="btn btn-outline-secondary" role="button">Sign me up!</a>
    </div>
</div>

<div class="container-fluid p-0" id="descriptions">
      <div class="row align-items-center no-gutters" >
        <div class="col-lg-8 order-lg-2 px-0">
            <video id="captureVideo" src="../public/assets/images/capture.mov"></video>
        </div>
        <div class="col-lg-4 order-lg-1">
          <div style="background-color: #939597;">
             <p>Capture or upload photos of your clothes.</p>
          </div>
        </div>
      </div>
      </div>
      </div>
</div>

 <!-- Image Showcases -->
  {{!-- <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
            
                <div class="col-lg-6 order-lg-2" style="background-color: #939597;">Capture or upload photos of your clothes.</div>
                <div class="col-lg-6 order-lg-2">
                    <img src="../public/assets/images/crochet fress.jpeg" alt="">
                </div>
             --}}
    

        {{!-- <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../public/assets/images/crochet\ fress.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <p class="lead mb-0">Capture or upload photos of your clothes.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../public/assets/images/crochet\ fress.jpeg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Put together some outfits </h2>
          <p class="lead mb-0">Put together some outfits </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../public/assets/images/crochet\ fress.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Organize your outfits into your categories.</h2>
          <p class="lead mb-0">Organize your outfits into your categories.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../public/assets/images/crochet\ fress.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Store everything in your Style Me collection </h2>
          <p class="lead mb-0">Store everything in your Style Me collection </p>
        </div> --}}
      </div>
    </div>
  </section>