<h2 style="margin: 10px 0px 0px 20px">Login Form</h2>

<form class="login">
  <div class="imgcontainer">
    <!-- Will change logo once we have it defined -->
    <img
      src="https://media.istockphoto.com/photos/dressing-room-in-bright-colors-closet-compartment-3d-illustration-picture-id1002114190?s=612x612"
      alt="Style_me logo" class="style_me_logo" />
  </div>

  <!-- Login error should display if email or psw are invalid -->
  {{#if message}}
    <div class="login-error-container">
      <p id="login-error" style="opacity: 1; background-color: red; width: fit-content">{{message}}</p>
    </div>
  {{/if}}

  <!-- Email and password input fields -->
  <div class="container" id="input-fields">
    {{!-- <label for="email"><b>Email</b></label> --}}
    <input type="text" placeholder="Enter email address" name="email" id="email-field" required />

    {{!-- <label for="psw"><b>Password</b></label> --}}
    <input type="password" placeholder="Enter Password" name="psw" id="psw-field" required />
  </div>

  <!-- Login and Home buttons -->
  <div class="btn_container">
    <button type="submit" value="Login" id="login-btn" class="btn btn-outline-secondary">Login</button>
    <br />
     <a href="/auth/google" class="btn btn-outline-secondary"><span class="fa fa-google"></span> Sign In with Google</a>
    <button type="button" id="home-btn" class="btn btn-outline-secondary">
      Home
    </button>
  </div>
</form>