
<form class="login form-group">
  <div class="container" id="logo_container">
  <a href="/" id="logo">Style Me</a>
  </div>
  <div class="imgcontainer">
    <img src="../public/assets/images/Style Me.png" alt="Style Me" class="style_me_logo" />
  </div>

  <!-- Email and password input fields -->
  {{!-- <div class="container d-flex justify-content-center" id="input-fields"> --}}
  <div class="container" id="input-fields">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder="name@example.com" name="email" id="email-field" required />
    <label for="email">Email</label>
    </div>
    <div class="form-floating mb-3">
    <input type="password" class="form-control" placeholder="password" name="psw" id="psw-field" required />
    <label for="psw">Password</label>
    </div>
    <!-- Login error should display if email or psw are invalid -->
    {{#if message}}
    <div class="login-error-container">
      <p id="login-error" style="opacity: 1; color: #F5DF4D; width: fit-content">{{message}}</p>
    </div>
  {{/if}}
  </div>

  <!-- Login and Home buttons -->
  <div class="btn_container ">
    <button type="submit" value="Login" id="login-btn" class="btn btn-outline-secondary">Login</button>
    <a href="/auth/google" class="btn btn-outline-secondary"><span class="fa fa-google"></span> Sign In with Google</a>
    
    {{!-- <a href="/" class="btn btn-outline-secondary" role="button">Home</a> --}}
  </div>
</form>