{{!-- <h2 style="margin: 10px 0px 0px 20px">Login Form</h2> --}}

<form class="login form-group">
  <div class="imgcontainer">
    <!-- Will change logo once we have it defined -->
    <img
      src="../public/assets/images/Style Me login.jpg"
      alt="Style_me logo" class="style_me_logo" />
  </div>

  <!-- Login error should display if email or psw are invalid -->
  {{#if message}}
    <div class="login-error-container">
      <p id="login-error" style="opacity: 1; background-color: red; width: fit-content">{{message}}</p>
    </div>
  {{/if}}

  <!-- Email and password input fields -->
  <div class="container d-flex justify-content-center" id="input-fields">
    {{!-- <label for="email">Email</label> --}}
    <input type="text" class="form-control" placeholder="Enter email address" name="email" id="email-field" required />

    {{!-- <label for="psw">Password</label> --}}
    <input type="password" class="form-control" placeholder="Enter Password" name="psw" id="psw-field" required />
  </div>

  <!-- Login and Home buttons -->
  <div class="btn_container d-flex justify-content-center">
    <button type="submit" value="Login" id="login-btn" class="btn btn-outline-secondary">Login</button>
    <a href="/auth/google" class="btn btn-outline-secondary"><span class="fa fa-google"></span> Sign In with Google</a>
    <button type="button" id="home-btn" class="btn btn-outline-secondary">Home</button>
  </div>
</form>