<div class="container" id="logo_container">
    <a href="/" id="logo">Style Me</a>
</div>
<div class="imgcontainer">
    <img src="../public/assets/images/Style Me.png" alt="Style Me" class="style_me_logo" />
</div>
<form class="signup mb-3">
    <div class="container" id="signupForm">
        <div class="form-floating mb-3">
        <input type="text" class="form-control"id="first_name" placeholder="First Name" name="first_name" required />
        <label for="first_name" class="form-label">First Name</label>
        </div>
        <div class="form-floating mb-3">
        <input type="text" class="form-control"id="last_name" placeholder="Last Name" id="last_name" required />
        <label for="last_name" class="form-label">Last Name</label>
        </div>
        <div class="form-floating mb-3">
        <input type="text" class="form-control" id="email-field" placeholder="name@example.com" name="email" required />
        <label for="email" class="form-label">Email</label>
        </div>
        <div class="form-floating mb-3">
        <input type="password" class="form-control" id="psw-field" placeholder="password" name="psw" required />
        <label for="psw" class="form-label">Password</label>
        </div>
    </div>

  <div class="btn_container">
     <button type="submit" class="signupbtn btn btn-outline-secondary">Sign Up</button>

     <a href="/" class="cancelBtn btn btn-outline-secondary"  role="button">Cancel</a>
    </div>
</form>

{{!-- <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}
