body {
  Font-Family: 'Open Sans', Sans-Serif;
  color:  #939597;
}
#logo {
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 45px;
    text-align: center;
    text-decoration: none;
    color:  #939597;
}
#logo:hover {
  background-color: transparent;
  color: #F5DF4D;
}
#logo_container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center
}
.btn {
    width: 50%;
    padding: 10px;
    margin: 5px;
    
}
#upload_widget.btn {
  background-color: #F5DF4D; 
  color: white;
}
#upload_widget.btn:hover {
  background-color: #939597;
  color: white; 
}
.btn:hover {
  background-color: #F5DF4D;
  opacity: 100%;
}
a:hover {
  background-color: #F5DF4D;
  opacity: 100%;
}
.btn-outline-secondary {
  border-color:  #939597;
}
.btn-outline-secondary:hover {

  border-color: transparent; 
}



.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media(min-width: 600px) {
    height: 100vh;
  }
}

#video-hero
{
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#captureVideo {
  
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
input {
  margin: 0px;
  padding: 0%;
  width: 100%;
}
#upload_widget, #addToCollection_Btn {
  width: 100%
}
.form-floating {
  width: 80%;
}

#item_name_input.form-floating {
  width: 100%;
}

.form-control{
  width: 100%;  
}


.style_me_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.imgcontainer {
  margin-bottom: 40px;
  margin-top: 20px;
}


form {
  margin: 10px;
}

#signupForm, #input-fields, #addnew_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
label {
  margin: 10px;
}



  .btn_container {
    display: flex;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
  }

#description {
  margin: 20px;
}
/*buildOufits styling*/
.buildH2{
  Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 45px;
    text-align: center;
    text-decoration: none;
    color:  #939597;
    margin-bottom: 5rem;
}
.buildQuote{
  font-family: cursive;
  text-align: center;
  margin-bottom: 10rem;
}
.buildOutfit{
  Font-Family: 'Raleway', Sans-Serif;
  Font-Size: 45px;
  text-align: center;
  text-decoration: none;
  color:  #939597;
  margin-top: 30px;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-decoration-thickness: 10px;
}
#dropdown{
  border-color: yellow;
  border-width: 10px;
  border-style: inset;
}
#search-input{
  background-color:lightgrey;
  color: white;
  border-color: yellow;
  border-width: 10px;
  border-style: inset;
}
input[type=search]{
  width: 200px
}
