body {
  font-family: "Open Sans", Sans-Serif;
  color: #939597;
}
select {
  color: #939597;
  margin-left: 10px;
}

h2 {
  margin-left: 10px;
}

#logo {
  font-family: "Raleway", Sans-Serif;
  font-size: 45px;
  text-align: center;
  text-decoration: none;
  color: #939597;
  margin-top: 40px;
  margin-bottom: 20px;
}
#logo:hover {
  background-color: transparent;
  color: #f5df4d;
}
#logo_container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 50%;
  padding: 10px;
  margin: 5px;
}

/* addnew page buttons */
#upload_widget.btn,
.addNew {
  background-color: #f5df4d;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
}
#upload_widget.btn:hover {
  background-color: #939597;
  color: white;
}

.btn:hover {
  background-color: #f5df4d;
  opacity: 100%;
  border: none;
}
a {
  color: #939597;
  text-decoration: none;
}
/*catalog links to categories */
a:hover {
  background-color: transparent;
  color: #f5df4d;
}

.btn-outline-secondary {
  border-color: #939597;
  color: #939597;
}

.dropdown.btn {
  width: 100%;
}

.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media (min-width: 600px) {
    height: 100vh;
  }
}

#video-hero {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#captureVideo {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
input {
  margin: 0px;
  padding: 0%;
  width: 100%;
}
#upload_widget,
#addToCollection_Btn {
  width: 100%;
}
/* .styleInput replacing form floating{
  width: 80%;
} */

#item_name_input.form-floating {
  width: 100%;
}

.form-control {
  /* width: 100%; */
  border: 1px solid #939793;
}

.style_me_logo {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.imgcontainer {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

form {
  margin: 10px;
}
#signupForm,
#input-fields,
#addnew_container, .imgcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label {
  margin: 10px;
}
.landing_btn_container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn_container {
  display: flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#description {
  margin: 20px;
}
#img {
  border: 1px solid #939597;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#addToCollection_Btn {
  margin-left: 0px;
}

/*Build page header*/
.buildHeader {
  font-family: "Raleway", Sans-Serif;
  font-size: 50px;
  color: gray;
  margin-top: 40px;
}
.buildQoute {
  font-family: cursive;
  font-size: 20px;
  font-style: cursive;
  color: gray;
  margin-bottom: 40px;
}
#outfit-input {
  padding: 20px;
}
/*Build Page btns to return to add new and catalogs*/

.buildBtn {
  width: 20%;
  margin-top: 10px;
  margin-bottom: 20px;
  float: right;
  background: url(https://cdn3.iconfinder.com/data/icons/ui-essential-elements-buttons/110/Undo-512.png);
  background-size: 13%;
  background-position: 8px 8px;
  background-repeat: no-repeat;
}

/* Styling for buildoutfit page
Card elements */
#addedItem-card {
  width: fit-content;
  text-align: center;
  margin-top: 24px;
  margin-right: 20px;
}

.rowContainer {
  justify-content: center;
}

/* Ul container */
.ulContainer {
  display: contents;
}

/*li elements */
.liContainer {
  max-width: 200px;
  text-align: center;
  border-style: solid;
  border-color: #939597;
}

.outfit_img {
  border-style: solid;
  border-color: #c4c4c5;
}

/* Delete button */
.btn-primary {
  width: 100%;
  margin: 5px 0px 25px;
}
