<h1>Style Me</h1>
{{ carousel }}
<h2>Style Me is an application that allows you to upload photos of your clothing from your camera, computer or social media. Organize your clothes into outfits and categorize them by occasion, season, mood or whatever! Create your own personal look book and maximize your closet.</h2>
<button id="signup-btn">Sign me up!</button>
<button id="login-btn">Login</button>
