<h1 id="logo">Style Me</h1>
{{> carousel}}
<p>Style Me is an application that allows you to upload photos of your clothing 
    from your camera, computer or social media. 
    Organize your clothes into outfits and categorize them by occasion, 
    season, mood or whatever! Create your own personal look book and 
    maximize your closet.</p>
<a href="login" class="btn btn-secondary" role="button">Login</a>
<a href="addnew" class="btn btn-secondary" role="button">Sign me up!</a>

