<div class="container">
<h1 id="logo">Style Me</h1>
{{!-- {{> carousel}} --}}
<section class="video-container">
  <video src="../public/assets/images/Fashion.mov" autoplay loop playsinline muted></video>
  <div class="callout">
    <h1>Object-Fit 👍</h1>
    <div>The CSS Background-Size: Cover for Inline Images &amp; Videos</div>
  </div>
  <div class="support">
     <a href="http://caniuse.com/#search=object-fit">Browser Support</a><br>
     <a href="https://github.com/jonathantneal/fitie">Need to support IE &amp; Edge?</a>
  </div>
</section>
<div class="container">
<p>Style Me is an application that allows you to upload photos of your clothing 
    from your camera, computer or social media. 
    Organize your clothes into outfits and categorize them by occasion, 
    season, mood or whatever! Create your own personal look book and 
    maximize your closet.</p>
<div class="d-grid gap-2 col-6 mx-auto">
<a href="login" class="btn btn-outline-secondary btn-lg" role="button">Login</a>
<a href="signup" class="btn btn-outline-secondary btn-lg" role="button">Sign me up!</a>
</div>
