<form action="/login" method="post" id='loginForm'>
	<input type="text" id="username" placeholder='Username'>
	<input type="text" id="password" placeholder="Password">
	<input type="submit" value="Submit">
</form>